name: Actionlint
permissions:
  contents: read
  pull-requests: write
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint:
    name: Validate GitHub Workflows
    
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6

      - name: Run actionlint
        uses: reviewdog/action-actionlint@v1
        with:
          github_token: ${{ github.token }}
          reporter: github-check
          fail_level: error
          # Optionally pin actionlint version
          # actionlint_version: '1.7.1'
